.content {
    width: 100%;
    height: 96vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content img {
    width: 12rem;
}

.content form {
    width: 70%;
}

#footer-register .import-link img{
    width: 32px;
    height: 32px;
    margin-right: 0.4rem;
}

#footer-register .import-link div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #ee3333;
    display: flex;
    align-items: center;
    margin-right: 0.4rem;
}

select {
    font: 500 1rem 'Poppins';
}

@media (min-width: 1200px) {
    .content {
        height: 100vh;
        display: grid;
        grid-template-columns: 400px 1fr;
        align-content: center;
    }

    #header-register {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2rem;
    }
    #header-register:after{
        content: "Faça o cadastro para acompanhar seu progresso no BI";
        font: 400 1.4rem 'Poppins';
        width: 440px;
    }
    #footer-register {
        display: flex;
        width: 30rem;
        margin-left: 39.4rem;
        align-items: center;
        justify-content: space-between;
    }
}