.logon-container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logon-container #about-button {
    align-self: flex-end;
    width: 8.2rem;
    height: 3.2rem;
}

.logon-container img {
    width: 12rem;
}

.logon-container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}

form {
    width: 84%;
    margin: 0 auto;
}

form input, form #login-button, #about-button {
    font: 500 1rem 'Poppins';
}

form input:focus {
    border: 1px solid #ee3333;
}

@media (min-width: 1200px) {
    .logon-container{
        height: 82vh;
    }

    form {
        width: 60%;
        margin: 0 auto;
    }
}
